PORT=3000
PAYLOAD_SECRET=accbcf-super-secret-production-key-2026-abuja-china-africa-forum
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
# DATABASE_URI=postgresql://postgres:postgres@127.0.0.1:5432/accbcf
